<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
      <table style="width:35%">
  <tr>
    <td>id</td>
    <td>username</td>
    <td>tgl_lahir</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Rafi</td>
    <td>05/01/2005</td>
  </tr>
</table>
</body>
</html>

